<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entry</key>
	<dict>
		<key>cell</key>
		<string>PSLinkCell</string>
		<key>icon</key>
		<string>StatusColor.png</string>
		<key>label</key>
		<string>StatusColor</string>
	</dict>
	<key>items</key>
	<array>
		<dict>
			<key>alignment</key>
			<integer>1</integer>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Settings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>R</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.ridan.statuscolor</string>
			<key>key</key>
			<string>R</string>
			<key>max</key>
			<string>1</string>
			<key>min</key>
			<string>0</string>
			<key>PostNotification</key>
			<string>com.ridan.statuscolor/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>G</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.ridan.statuscolor</string>
			<key>key</key>
			<string>G</string>
			<key>max</key>
			<string>1</string>
			<key>min</key>
			<string>0</string>
			<key>PostNotification</key>
			<string>com.ridan.statuscolor/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>B</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.ridan.statuscolor</string>
			<key>key</key>
			<string>B</string>
			<key>max</key>
			<string>1</string>
			<key>min</key>
			<string>0</string>
			<key>negate</key>
			<false/>
			<key>PostNotification</key>
			<string>com.ridan.statuscolor/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>action</key>
			<string>refreshSBarColor</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Apply Color</string>
		</dict>
		<dict>
			<key>alignment</key>
			<integer>1</integer>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Twitter: @r_idn</string>
		</dict>
	</array>
	<key>title</key>
	<string>StatusColor</string>
</dict>
</plist>
